/* HTML */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #eeeeee;
  font-size: 14px;
  background-color: #22252a;
}
a {
  text-decoration: none;
  color: #000000;
}
a:focus, a:active {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a img, img {
  border: none;
}
ul {
  margin-left: 20px;
}
td {
  vertical-align: top;
}
#wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
#main {
  border: #000000;
  background-color: #ffffff;
  
}
canvas#canvas {
   border: 1px dotted #000000;
}
div#debug {
   width: 500px;
   height: 100px;
   overflow-x: hidden;
   overflow-y: auto;
   background-color: #000;
   color: #11FF25;
   margin: 5px auto;
   text-align: left;
   padding: 4px;
}






